page-home {

  .loading {
    .loading-content {
      h4 {
        text-align: center;
        color: color($colors, dark);
      }

      img {
        width: 200px;
        height: 200px;
      }
    }
  }

}
