
.content-md, .toolbar-background-md {
  background-color: #5F7C8A;
}

.header-md {
  background-color: #5F7C8A;

  &::after {
    background-image: none;
  }
}

.card-md {
  background-color: #5F7C8A;
}

.loading {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loading-content {
    margin: auto;
}

page-settings {
    .card-md {
        margin: 30px 0 30px 0 !important;
        width: 100% !important;
    }
}
