
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated,
 {
  color: color($colors, light);
  background-color: rgba(255,255,255,0.2);
}

.segment-md .segment-button {
  color: color($colors, light2);
}

.content-md, .toolbar-background-md {
  background-color: color($colors, primary);
}

.header-md {
  background-color: color($colors, primary);

  &::after {
    background-image: none;
  }
}

.card-md.one {
  background-color: color($colors, productsOne);
}

.card-md.two {
  background-color: color($colors, productsTwo);
}

.card-md.three {
  background-color: color($colors, productsThree);
}

.card-md.four {
  background-color: color($colors, productsFour);
}

.loading {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loading-content {
    margin: auto;
}

page-settings {
    .card-md {
        margin: 30px 0 30px 0 !important;
        width: 100% !important;
    }
}

ion-app.md {
  padding-bottom: 20px;
}
