page-product-details {
  .item-md {
    background-color: transparent;

    p {
      color: #111;
    }
  }

  .tips-slide {
    height: 150px;
  }

  ion-card img {
    background-color: color($colors, productsOne);
    padding: 15px;
  }

  ion-col ion-card img {
    margin: 15%;
    width: 70%;
  }

  .list-md > .item-block:last-child ion-label, .list-md > .item-block:last-child .item-inner, .list-md > .item-wrapper:last-child ion-label, .list-md > .item-wrapper:last-child .item-inner,
  ion-label {
    white-space: normal;
  }

  ion-icon {
    font-size: 60px;
  }

  ion-icon.small {
    font-size: 30px;
  }

  /* line 20, /Users/Nobodief/workspace/hackathon-Alfraide/src/pages/dashboard/dashboard.scss */
  ion-fab button.alert.alert-danger {
    background: red;
    color: white;
  }

  ion-footer {
    position: fixed;
  }

}
