page-repairman {
  ion-icon {
    font-size: 40px;
  }

  ion-footer {
    border: none;
    text-align: right;
    color: #333;
    font-size: 1.2em;
    padding: 10px;
  }


  .phone {
    position: absolute;
    right: 11px;
    top: 10px;
    background-color: green;
    padding: 2px;
    color: white;
    width: 25px;
    height: 25px;

    ion-icon {
      font-size: 20px;
    }
  }
}
